{% load static %}

<html>
    <head>
        <title>Gestionale Comune di Domegge</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'issue/css/issue.css' %}">
		<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'issue/js/index.js' %}"></script>

    {% block script %}
    {% endblock %}

</head>
	<body>
	{% if not index %}
    <nav>
      <div class="nav-wrapper  blue darken-4">
        <a href="/issue/" class="brand-logo" style="padding-left: 10px;">Gestionale Comune di Domegge</a>
        <ul class="right hide-on-med-and-down">
          <li>{{ user.first_name }} {{ user.last_name }}</li>
          {% if user.is_superuser %}
          <li><a class="waves-effect waves-light btn" href="{% url 'create-issue' %}">Nuova... <span class="glyphicon glyphicon-plus"></a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a class=" waves-effect waves-light btn" role="button" href="{% url 'registration:logout' %}">Log Out </a></li>
          {% else %}
          <li><a class="waves-effect waves-light btn" href="{% url 'registration:login' %}">Log in</a></li>
          {% endif %}
        </ul>
      </div>
  </nav>

		{% endif %}
		<div class="container">
			<div class="content">
					{% block content %}
					{% endblock %}
			 </div>
		</div>
	</body>
<html>
