{% extends 'issue/base.html' %}
{% load issue_tag %}
{% load static %}

{% block script %}
<script>
$(document).ready( function() {
  $('select#id_state').change( (e) =>{
    if ( e.target.value === '3' ) {
      alert('ATTENZIONE, se imposti la pratica come risolta, non potrai cambiarne lo stato in seguito.\nSolo il sindaco potrà farlo. ')
    }
  })
})
</script>
{% endblock %}

{% block content %}
    {% if create_issue%}
    <div class="row">
        <h2>Nuovo Incarico</h2>
    </div>
    {% endif %}
    <div class="row" style='margin-top: 40px;'>
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
            {% if field|is_checkbox %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
            <div class="btn-group" data-toggle="buttons">
            {% for checkbox in field %}
                <label class="btn btn-primary button-checkbox">
                {{ checkbox.tag }} {{ checkbox.choice_label }}
                </label>
            {% endfor %}
            </div>
            {% else %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|addclass:"form-control" }}
            </div>
            {% endif %}
            {% endfor %}
            <button type="submit" class="save btn">Salva</button>
            <a href="{% url 'base' %}" class="waves-effect waves-light btn">Indietro</a>
        </form>
    </div>

{% endblock %}
