{% extends 'issue/base.html' %}
{% load tz %}
{% block content %}
<div class="row">
    {% block elimina_issue %}
    {% endblock %}
    <div class="issue-detail-header">
        <h1>{{ issue.title }}</h1>
    </div>
    <div class="row">
        <div class="col s8">
            <div class='col' style="margin-left: -20px;margin-right: 20px;background: #e3f2fd;border-radius: 15px;">
              <h4 class="title {% if issue.state is 3%} issue-resolved     {% endif %}">Descrizione dell'incarico {% if issue.state is 3%}(RISOLTA){% endif %}</h4>
              <p {% if issue.state is 3%} class="issue-resolved" {% endif %}>{{issue.description}}</p>
            </div>
            <div class='col' style='margin-left:-20px'>
              {% for comment in issue.comments.all %}
              <p class='comment '>
                <strong><span>il {{ comment.created_on|date:'d/m/Y' }} alle ore {{ comment.created_on| localtime | time:'H:i' }}, {{ comment.name }}  ha scritto:</span ><br/>
              {{ comment.body }}</p>
              {% endfor %}
              <form method="POST" class="post-form">{% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="save btn">Commenta</button>
              </form>
            </div>
        </div>
        <div class="col s4 issue_block">
            <h5 class="title">Creato il:</h5>
            <p>{{issue.date|date:"d-m-Y"}}</p>
            <h5 class="title">Priorità:</h5>
            <p>{{issue.priority_verbose}}</p>
            <h5 class="title">Termine:</h5>
            <p>{{issue.expired_date|date:"d-m-Y"}}</p>
            <h5 class="title">Stato:</h5>
            <p>{{ issue.state_verbose }}</p>
            {% if user.is_superuser %}
                    <a href="{% url 'edit-issue' issue.id %}" class="waves-effect waves-light btn">Modifica</a>
                    <a href="{% url 'delete-issue' issue.id %}" class="waves-effect waves-light btn">Elimina</a>
                    {% else %}
                    {% if issue.state != 3 %}
                    <a href="{% url 'edit-issue-state' issue.id %}" class="waves-effect waves-light btn">Modifica Stato</a>
                    {% endif %}
            {% endif %}
        </div>
    </div>


</div>
{% endblock %}
