{% extends 'issue/issue_detail.html' %}
{% block elimina_issue %}

{% if user.is_superuser %}
<form method="post">{% csrf_token %}
    <p class="flow-text" style="margin-top:80px">Sei sicuro di voler eliminare la seguente problematica ?</p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Conferma
    </button>
    <a href="{% url 'issue-detail' object.id %}" class="waves-effect waves-light btn">Indietro</a>
</form>
{% endif %}
{% endblock %}

<script>
    $(document).ready(function(){
        $("html,body").scrollTop(55);
    });
</script>
