a:hover {
  text-decoration: none;
}

a {
    color: black;
}

.title {
    font-weight: 600;
}

body {
    background-color:  #b3e6ff;
}

.issue-resolved td a{
    color: #7d7d7d;
}

tr.issue-resolved{
    color: #7d7d7d;
    background-color: #ECECEC;
}

.issue-resolved{
    color: #7d7d7d;
}

tr.issue-resolved:hover {
    background-color: #ECECEC !important;
}

.home-center {
    justify-content: center;
    display: flex;
}

.home-center p {
    margin-top:5px;
    font-size: 20px;
}

.issue-detail-header {
    padding: 30px;
    text-align: center;
}

.issue_block {
  padding: 20px !important;
  background-color: #CCE6FF;
  border-radius: 15px;
}

.btn:hover {
    border: 1px solid #004080;
}

.btn a:hover {
    color: #004080;
}

.custom-navbar {
    background-color:#0080ff;
    border-radius: 0px;
    padding-bottom: 10px;
}


.blink {
    animation: blink 1s linear infinite;
    color: red;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

.button-checkbox {
    margin: 3px;
    background-image:none;
}

.button-checkbox-checked {
    margin: 3px;
    background-color:#1a237e !important;
    background-image:none;
}


/* .container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90% !important;
} */

h1, h2 {
  color: #1a237e;
}

.login-mask {
  background: #e3f2fd;
  padding: 20px;
  border-radius: 20px;
}
/* @media only screen and (min-width: 601px) {
  .container {
    width: 85% !important;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70% !important;
  }
} */

label {
  font-size: 1rem !important;
  color: #5F5F5F !important;
  margin-top: 10px;
}
