a:hover {
  text-decoration: none;
}

a {
    color: black;
}

.title {
    font-weight: 600;
}

body {
    background-color:  #b3e6ff;
}

.issue-resolved td a{
    color: #7d7d7d;
}

.issue-resolved{
    color: #7d7d7d;
}

.home-center {
    justify-content: center;
    display: flex;
}

.home-center p {
    margin-top:5px;
    font-size: 20px;
}

.issue-detail-header {
    padding: 30px;
    text-align: center;
}

.issue_block {
    padding: 20px;
    background-color: #CCE6FF;
}

.btn:hover {
    border: 1px solid #004080;
}

.btn a:hover {
    color: #004080;
}

.custom-navbar {
    background-color:#0080ff;
    border-radius: 0px;
    padding-bottom: 10px;
}


.blink {
    animation: blink 1s linear infinite;
    color: red;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}